*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#navbar {
    background-color: #A1B57D;
}

.logo {
    display: flex;
    align-items: center;
}

.kumpas {
    padding-left: 30px;
    height: 60px;
    margin: 5px 15px;
}

.navigation-bar {
    width: 1500px;
    padding: 0px 20px 0px 20px;
}

.logo li {
    margin-right: 30px;
    font-size: large;
    font-weight: 600;
}

.logo a {
    color: black;
}

.logo h2 {
    padding-top: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 2rem;
    font-weight: 900;
}

#title {
    background-color: #449D48;
    background-size: cover;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(images/patient-background.jpg);
    background-size: cover;
}

.container{
    width: 100%;
    max-width: 650px;
    background: rgba(0,0,0,0.5);
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px white;
}

.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}

.personal{
    color: white;
    font-weight: 900px;
    padding-top: 20px;
}

.contact{
    color: white;
    font-weight: 900px;
    padding-top: 0px;
}

.main-personal-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#firstName{
    width: 200px;
}

#middleName{
    margin-left: 10px;
}

#label-middle{
    margin-left: 10px;
}

span{
    color: #FF6464;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.user-input-box:nth-child(2n){
    justify-content: end;
}

.user-input-box{
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.user-input-box label{
    width: 95%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}

#birthday-detail{
    font-size: 20px;
    color: white;
}

#birthday{
    margin-top: 10px;
    font-size: 1.25rem;
    text-align: center;
}

.gender-detail{
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid white;
}

.gender-category{
    margin: 15px 0;
    color: white;
}

.gender-category label{
    font-size: 1.25rem;
    padding: 0 20px 0 5px;
}

.gender-category label,
.gender-category input,
.form-submit-btn{
    cursor:pointer;
}

.form-submit-btn{
    margin-top: 20px;
}

.form-submit-btn{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: rgb(209, 209, 209);
    background: rgba(63, 114, 76, 0.7);
}

.form-submit-btn:hover{
    background: rgba(56, 204, 93, 0.7);
    color: rgb(255, 255, 255);
}


.home-btn{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    text-align: center;
    border-radius: 3px;
    color: rgb(209, 209, 209);
    background: rgb(99, 151, 151);
}

.home-btn:hover {
    background: rgb(39, 209, 209);
    color: rgb(255, 255, 255);
}

@media(max-width: 600px) {
    .container {
        min-width: 280px;
    }

    .user-input-box {
        margin-bottom: 12px;
        width: 100%;
    }

        .user-input-box:nth-child(2n) {
            justify-content: space-between;
        }

    .gender-category {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info {
        max-height: 380px;
        overflow: auto;
    }

        .main-user-info::-webkit-scrollbar {
            width: 5px;
        }

    @media(max-width: 450px) {
        .container{
            margin-top: 350px;
            display: block;
        }
        .user-input-box{
            margin-bottom: 12px;
            width: 500px;
            margin: auto;
        }

        .user-input-box:nth-child(2n){
            justify-content: space-between;
        }

        .gender-category{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .main-user-info{
            max-height: 380px;
            overflow: auto;
        }

        .main-user-info::-webkit-scrollbar{
            width: 0;
        }       
        
        #label-middle{
            margin-left: 0px;
        }

        #middleName{
            margin-left: 0px;
        }

        .user-input-box input {
            width: 325px;
        }

        #firstName{
            width: 325px;
        }

        .gender-detail{
            margin-top: 50px;
        }

    }
}